/* Complete Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Burger menu, only for mobile */
.navbar-mobile {
	display: block;
}

/* Logo */
.header-logo img {
	height: 40px;
	width: auto;
}

/* Account + Cart */
.header-account-cart {
	display: flex;
	gap: 16px;
}

.header-account-cart img {
	height: 28px;
	width: auto;
	cursor: pointer;
}

.header-logo:hover,
.header-account-cart a:hover {
	background-color: transparent !important;
}

.navbar-desktop {
	display: none;
}

/* Responsive: tablet and desktop */
@media (min-width: 768px) {
	header {
		padding: 16px 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.navbar-mobile {
		display: none;
	}

	.header-logo {
		order: 1;
	}

	.navbar-desktop {
		display: block;
		order: 2;
		display: flex;
		align-items: center;
		height: 100%;
	}

	.navbar-desktop ul {
		box-shadow: none;
		display: flex;
		gap: 3rem;
		list-style-type: none;
	}

	.header-account-cart {
		order: 3;
	}
}
