.form-container {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.field {
	display: flex;
	flex-direction: column;
}

input {
	background-color: var(--light-grey);
	border: solid 1px var(--dark-grey);
	border-radius: 5px;
}

.button-connexion {
	background-color: var(--dark-green);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	transition: filter 0.2s ease-in-out;
	margin-top: 2rem;
}

.button-connexion {
	filter: brightness(1.1);
}

.register-error-text {
	color: red;
}

/* Responsive: tablet and desktop */
@media (min-width: 768px) {
	.form-container {
		margin-bottom: 1rem;
	}
}
