/* Global CSS */

* {
	box-sizing: border-box;
}

:root {
	--dark-green: #455e46;
	--dark-grey: #212529;
	--black: #000000;
	--grey: #d9d9d9;
	--pearl: #faf2e4;
	--light-grey: #f6f7f9;
	--light-yellow: #f0ddb5;
	--light-green: #c9caba;
	--light-red: #eeded2;
	--light-blue: #cce7f0;
	--light-brown: #ebeed2;

	/* Couleurs continents */
	--europe-color: #228b22;
	--europe-hover: #006400;
	--asia-color: #ff6347;
	--asia-hover: #dc143c;
	--north-america-color: #4169e1;
	--north-america-hover: #191970;
	--south-america-color: #ff8c00;
	--south-america-hover: #e55b00;
	--africa-color: #daa520;
	--africa-hover: #b8860b;
	--australia-color: #8b008b;
	--australia-hover: #4b0082;
}

body {
	font-family: sans-serif;
	background-color: var(--pearl);
}

main {
	width: 90%;
	margin: auto;
}

section {
	margin-bottom: 2rem;
}

/* Titles */

h1 {
	color: var(--dark-green);
	font-size: 2rem;
}

h2 {
	color: var(--dark-green);
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

h3 {
	color: var(--dark-green);
	font-size: 1.2rem;
}

/* Links */

a {
	text-decoration: none;
	color: var(--dark-green);

	&:hover {
		text-decoration: underline;
	}
}

li {
	a {
		text-decoration: none;
		color: var(--dark-green);

		&:hover {
			text-decoration: underline;
		}
	}
}